body {
    display: block;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);

}

h1 {
    color: #009879;
}

.styled-table {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.container {
    display: block;
    margin: auto;
    background: #fff;
    justify-content: center;
    text-align: center;
    width: 1000px;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.container .text {
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-text-fill-color: transparent;
}

.container form {
    padding: 30px 0 0 0;
}

.container form .form-row {
    display: flex;
    margin: 32px 0;
}

#post {
    width: 50%;
}

.bold {
    font-weight: bold;
}

input[type="radio"] {
    cursor: pointer;
}

button {
    width: 25vh;
    height: 5vh;
    cursor: pointer;
    padding: 10px;
    background-color: #009879;
    text-align: center;

    color: white;
    margin: 0 auto;
    font-size: medium;
    border-radius: 5px;
}

button:hover {
    background-color: #009879;
}

.run {
    display: block;
    margin: auto;
    max-width: 1200px;
    background: #ffffff00;
    justify-content: center;
    text-align: center;
    width: 800px;
    padding: 25px 40px 25px 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}