<!DOCTYPE html>
<html>

<head>
    <title>Add Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/add_info.css') }}" />

</head>

<body>
    <div class="container">
        <h1>Add Information</h1>
        <form method="POST" action="/add_info">
            <label for="income" class="bold">Income:</label>
            <input type="text" name="income" required>
            <br><br>
            <label for="expenditure" class="bold">Expenditure:</label>
            <input type="text" name="expenditure" required>
            <br><br>
            <label for="risk_appetite" class="bold">Risk Appetite:</label>
            <input type="radio" name="risk_appetite" value="low" required> Low
            <input type="radio" name="risk_appetite" value="medium"> Medium
            <input type="radio" name="risk_appetite" value="high"> High
            <br><br>
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
    <br>
    {% if result %}
    <div class="container">
        <h1>Savings Allocation:</h1>
        <table class="table table-bordered styled-table">
            <thead>
                <tr>
                    <th scope="col">Parameter</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for row in table_data %}
                <tr>
                    <td class="bold">{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="container">

        <h1>Stocks Allocation:</h1>
        <table class="table-bordered styled-table">
            <thead>
                <tr>
                    <th>Stock Symbol</th>
                    <th>Stock Name</th>
                    <th>Number of Stocks</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in all_stocks %}
                <tr>
                    <td>{{ stock[0] }}</td>
                    <td>{{ stock[1] }}</td>
                    <td>{{ stock[2] | round(2) }}</td>
                    <td>{{ stock[3] | round(2) }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>


    </div>
    <br>
    <div class="container">

        {% if plot_image %}
        <h1>Plot:</h1>
        <img id="plot" src="data:image/png;base64,{{ plot_image }}" alt="Plot">
        {% endif %}
    </div><br>
    <div class="container">

        <h1>Calculation Result:</h1>
        <table class="table-bordered styled-table">
            <thead style="position: sticky; top: 0; background-color: white;">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in result.items() %}
                <tr>
                    <td class="bold">{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div><br>
    <div class="run">
        <form method="GET" action="{{ url_for('add_info') }}">
            <button type="submit" value="Restart Process">Run Again</button>
        </form>
    </div>
    {% endif %}

</body>

</html>